@use '../helpers' as *;


.about {
    padding-bottom: fluid(100, 176);
  &__inner {
  }
  &__title {
    font-size: fluid(40,64);
    text-wrap: nowrap;
    letter-spacing: -0.04em;
    padding-block: rem(52);
  }
  &__list {
    display: grid;
    row-gap: rem(36);

    @include tablet {
      row-gap: rem(30);
    }
    @include mobile {
      row-gap: rem(20);
    }
  }

  .about__item {
    background-color: var(--color-dark-alt);
    padding: rem(36) rem(50);
    border-radius: 20px;
    border: 1px solid var(--color-border);
    font-size: fluid(14,32);

    @include mobile {
      padding: rem(20) rem(40);
    }
    @include mobile-s {
      padding: rem(10) rem(15);
    }
    &-title {
    font-weight: 600;
    }

    &-description {
    }
  }
}