@use '../helpers' as *;


.about {
    margin-block: fluid(50,100);
  &__inner {
  }
  &__title {
    font-size: fluid(40,64);
    text-wrap: nowrap;
    letter-spacing: -0.04em;

    &:not(:last-child){
      padding-bottom: rem(52);
      @include mobile {
        padding-bottom: rem(30);
      }
    }
  }
  &__list {
    display: grid;
    row-gap: rem(36);

    @include tablet {
      row-gap: rem(30);
    }
    @include mobile {
      row-gap: rem(20);
    }
  }

  &__item {
    position: relative;
    display: grid;
    row-gap: rem(10);
    background: rgba(209, 233, 254, 0.02);
    border-radius: 40px;
    font-size: fluid(22,32);

    padding: rem(36) rem(50);
    @include mobile {
      padding: rem(30);
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      padding: 1px;
      border-radius: inherit;
      filter: blur(5px);
      background: linear-gradient(
          135deg,
          transparent 0%,
          #ffffff 25%,
          #D1E9FE 40%,
          transparent 100%
      );
      pointer-events: none;
      -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;

      mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      mask-composite: exclude;
    }

    &-title {
    font-weight: 600;
    }
  }
}