@use '../helpers' as *;


.about {
 display: flex;
 align-items: center;
  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: rem(50);
    @include mobile-s {
      row-gap: rem(20);
    }
  }
  &__title {
    font-size: fluid(40,64);
    text-wrap: nowrap;
    letter-spacing: -0.04em;
    flex-shrink: 0;
  }
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: rem(20);

    @include mobile-s {
      row-gap: rem(10);
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: rem(10);
    border-radius: 40px;
    font-size: fluid(19,32);
    padding: rem(35) rem(50);
    @include tablet {
      padding: rem(35);
    }
    @include mobile-s {
      padding: rem(20);
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      padding: 1px;
      border-radius: inherit;
      filter: blur(5px);
      background: linear-gradient(
          135deg,
          transparent 0%,
          #ffffff 25%,
          #D1E9FE 40%,
          transparent 100%
      );
      pointer-events: none;
      -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;

      mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      mask-composite: exclude;
    }
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
      background-color: rgba(209, 233, 254, 0.02);
      backdrop-filter: blur(100px);
      -webkit-backdrop-filter: blur(100px);
      border-radius: inherit;
    }

    &-title {
    font-weight: 600;
    }
  }
}