@use '../helpers' as *;

.banner {
  position: relative;
  padding-block: rem(100);
  height: 100dvh;

 &__main {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   row-gap: rem(50);
   height: 100%;
 }
  &__body{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    row-gap: fluid(16,54);
    max-width: fluid(250,1054);
    letter-spacing: -0.04em;
    color: var(--color-accent);
  }

  &__title {
    font-family: var(--font-family-accent);
    font-size: fluid(40,96);
    line-height: 0.85;
  }
  &__subtitle {
    display: inline-block;
    max-width: rem(530);
    line-height: 1.3;
    font-size: fluid(16,36);

    @include mobile-s {
      font-size: rem(20);
    }
  }

  &__contact-us {
    max-width: rem(200);
    height: rem(74);
    margin-inline: auto;
    margin-top: auto;
  }
}


.banner__main > * {
  z-index: 100;
}

