@use '../helpers' as *;

.banner {
  position: relative;
  padding-block: rem(50);
  height: calc(100vh - var(--header-height) - var(--padding-header-top));
  user-select: none;

  @include tablet {
    background-image: url(../images/bg-main.svg);
    background-size: 100% auto;
    background-position: 0 0;
    background-repeat: no-repeat;

    @include mobile {
      background-size: 150% auto;
    }
  }

 &__main {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   min-height: 100%;
 }
  &__body{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    row-gap: fluid(16,54);
    max-width: fluid(250,1054);
    letter-spacing: -0.04em;
    color: var(--color-accent);
  }

  &__title {
    font-family: var(--font-family-accent);
    font-size: fluid(40,96);
    line-height: 0.85;
  }
  &__subtitle {
    display: inline-block;
    max-width: rem(530);
    line-height: 1.3;
    font-size: fluid(16,36);

    @include mobile-s {
      font-size: rem(20);
    }
  }

  &__contact-us {
    max-width: rem(200);
    height: rem(74);
    margin-inline: auto;
    margin-top: auto;
  }
}


.banner__main > * {
  z-index: 100;
}

