@use '../helpers' as *;

.category {
  display: grid;
  grid-template-columns: auto rem(36);
  column-gap: rem(5);
  padding: rem(30);
  cursor: pointer;
  &__body {
    @include mobile {
      max-width: 90%;
    }
  }
  &__title {
    font-size: rem(22);
    font-weight: 600;
  }
  &__subtitle {
    font-size: rem(15);
    font-weight: 100;
  }
  &__button {
    align-self: center;
  }
}