@use '../helpers' as *;

.footer {
  @include mobile {
    padding-block: rem(15);
  }
  padding-block: rem(22);
  font-size: rem(14);
  font-weight: 100;
  letter-spacing: -0.04em;
  text-align: center;
  &__inner {
    @include flex-center();
  }
  &__list {

  }
  &__item {
  }
  &__link {
  }
  &_contacts {
    font-size: fluid(14,20);
    white-space: nowrap;
    padding-bottom: rem(25);
    display: grid;
    row-gap: rem(5);

    @include mobile-above {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 5vw;
      padding-bottom: rem(50);
    }

    & a {
      @include hover {
        color: var(--color-light-d2);
        text-shadow:
          0 0 1px var(--color-light-d2),
          0 0 3px var(--color-light-d2);
        scale: 1.1;
      }
    }
  }
}