@use '../helpers' as *;

.footer {
  font-size: rem(14);
  font-weight: 100;
  letter-spacing: -0.04em;
  text-align: center;
  height: var(--footer-height);
  &__inner {
    @include flex-center();
  }
  &__list {
    @include mobile {
      padding-block: rem(15);
    }
    padding-block: rem(22);
  }
  &__item {
  }
  &__link {
  }
  &_contacts {
    display: grid;
    white-space: nowrap;
    padding-bottom: rem(20);
    row-gap: rem(5);

    & a {
      @include hover {
        color: var(--color-light-d2);
        text-shadow:
          0 0 1px var(--color-light-d2),
          0 0 3px var(--color-light-d2);
      }
    }
  }
}