@use '../helpers' as *;

.form {

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    width: 50%;
    height: 30%;
    transform: translate(-50%, -50%);
    background: #001123;
    filter: blur(100px);
    border-radius: 50%;
    animation: gradient-pulse 5s ease-in-out infinite;
    pointer-events: none;
  }
}

@keyframes gradient-pulse {
  0%, 100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.9;
  }

  50% {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.5;
  }
}