@use '../helpers' as *;

  .form {
    position: relative;

    min-height: 100dvh;
    height: 100%;
    font-size: fluid(20,48);
    display: grid;

    z-index: 100;

    &::before {
      content: "CONTACT US CONTACT US CONTACT US CONTACT US";
      position: absolute;
      inset: 0;
      transform: translateX(-25%);
      font-size: fluid(40,120);
      font-weight: 600;
      color: #060F16;
      white-space: nowrap;
      pointer-events: none;
      z-index: 10;
      width: max-content;

      @include laptop-above {
        inset: auto;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }



    &__list {
      padding-block: rem(55);
      @include flex-center();
      flex-direction: column;
      row-gap: rem(12);
    }
    &__slider {
    }

    &__item {
      display: flex;
      flex-direction: column;
      row-gap: rem(12);

      @include mobile-s {
        row-gap: rem(20);
      }

      &:has(input[type="text"]){
          @include tablet {
            max-height: rem(200);
          }
      }
      &:has(ul) {
        @include tablet {
          max-height: rem(300);
        }
      }
    }

    &__label {
      text-align: center;
      opacity: 30%;
      letter-spacing: -0.04em;
    }

    &__input-inner {
      position: relative;
      display: flex;
      align-items: center;
    }
    &__input {
      font-size: fluid(16,24);
      padding-block: rem(10);
      padding-left: rem(24);
      width: 100%;
      height: rem(52);
      background-color: rgba(209, 233, 254, 0.08);
      color: var(--color-light-d1);
      border-radius: rem(26);
      border: 1px solid rgba(209, 233, 254, 0.3);

      &::placeholder {
        color: var(--color-light-d1);
        opacity: 30%;
      }
    }

    &__next-btn {
      @include abs-y;
      right: rem(8);
      @include square(36px);
      background-color: #505B61;
      border-radius: 50%;
      transition-duration: var(--transition-duration);
      @include hover {
        box-shadow:
          0 0 1px var(--color-light-d2),
          0 0 3px var(--color-light-d2);
        background-color: var(--color-light-d1);

      }

      @include mobile-s {
        @include square(30px)
      }
    }


    &__socials {
      @include flex-center();
      column-gap: rem(25);
      cursor: pointer;
      &-item {
        color: #505B61;
        @include flex-center();
        transition-duration: var(--transition-duration);

        &.active {
          color: var(--color-light-d1);
        }
      }
//      &-item svg {
//      @include square(40px);
//      transition-duration: var(--transition-duration);
//      }

    }

    &__text {
      row-gap: rem(12);
      max-width: rem(700);
      max-height: rem(300);
      &-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: rem(12);
        flex-basis: 100%;
      }

      &-input {
        padding-block: rem(8);
        padding-inline: rem(24);
        height: rem(148);
        border-radius: 20px;
        font-weight: 300;
        overflow-y: auto;

        &::-webkit-scrollbar {
          width: 0;
        }

        @include mobile {
          height: rem(100);
        }
    }

      &-btn {
        white-space: nowrap;
        @include flex-center();
        width: rem(190);
        border-radius: 200px;
        height: rem(48);
        padding: rem(10) rem(20);
        background-color: #505B61;
        font-size: fluid(14,20);
        text-align: center;
        color: rgba(209, 233, 254, 0.3);
        line-height: 1.4;
        transition-duration: var(--transition-duration);

        @include mobile {
          height: rem(40);
          padding-inline: rem(15);
        }

        @include hover {
          color: #505B61;
          box-shadow:
            0 0 5px var(--color-light-d2),
            0 0 3px var(--color-light-d2);
          background-color: var(--color-light-d1);
        }
      }
    }

    &__project-type {

    }

    &__options {
      max-width: rem(560);
      @include flex-center();
      flex-wrap: wrap;
      row-gap: rem(8);
      column-gap: rem(4);

      &-next-btn {
        align-self: center;
      }
    }

    &__option {
      line-height: 1.4;
      padding: rem(10) rem(20);
      border-radius: 200px;
      border: 1px solid var(--color-light-d1);
      background: var(--color-dark);
      opacity: 30%;
      color: var(--color-light-d1);
      cursor: pointer;
      font-size: fluid(14,20);
      transition-duration: var(--transition-duration);

      &.active {
        color: var(--color-bg-main);
        opacity: 1;
        box-shadow: 0px 0px 8px var(--color-light-d1),
        0px 0px 4px #00000040;
        background-color: var(--color-light-d1);
        transition-duration: var(--transition-duration);
      }

      @include mobile {
        padding: rem(5) rem(10);
      }
    }

    &__budget {
      &-label{
        position: relative;
        display: inline-block;
        &::after {
          content: "*CAD";
          position: absolute;
          top: 0;
          translate: 0 -5px;
          letter-spacing: -0.04em;
          font-size: fluid(16,24);
        }
      }
    }

&__progress {
  width: rem(40);
  height: rem(6);
  background-color: #091520;
  border-radius: 3px;
  margin-inline: auto;
  transition: opacity var(--transition-duration);

  &-bar {
    width: 0;
    height: 100%;
    background-color: var(--color-light-d1);
    box-shadow: 0px 0px 8px var(--color-light-d1),
    0px 0px 4px #00000040;
    border-radius: inherit;
    transition-duration: var(--transition-duration);
  }
}
  }


.next-button {
  @include square(36px);
  background-color: #505B61;
  border-radius: 50%;
  transition-duration: var(--transition-duration);
  background-image: url("/icons/arrow.png");
  background-size: 9px 14px;
  background-repeat: no-repeat;
  background-position: center;

  @include hover {
    box-shadow:
      0 0 5px var(--color-light-d2),
      0 0 3px var(--color-light-d2);
    background-color: var(--color-light-d1);
    background-image: url("/icons/arrow-hover.png");
  }

  @include mobile-s {
    @include square(30px)
  }
}


.form-step {
  display: none;
  opacity: 0;
  transform: translateX(40px);
  pointer-events: none;
  width: 100%;
  transition-duration: var(--transition-duration);

  &.active {
    display: flex;
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
  }
}
