@use '../helpers' as *;

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  transition-duration: var(--transition-duration);

  &__body {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid transparent;
    border-radius: 8px;
    box-shadow:
      inset 0 0 0 0.5px rgba(255, 255, 255, 0.3),
      inset 0 0.5px 0 rgba(209, 233, 254, 0.02),
      inset 0 -0.5px 0 rgba(255, 255, 255, 0.2);
  }

  &__menu {
    &-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      white-space: nowrap;
      column-gap: rem(20);
      height: var(--header-height);

      @include mobile-s {
        flex-wrap: wrap;
        padding-block: rem(10);
      }
      @include mobile {
        column-gap: rem(10);
      }
    }
    &-item {
      @include mobile-s {
        &:has(a.logo){
          order: -1;
          flex-basis: 100%;
        }
      }
    }
    &-link {
      text-align: center;
      @include mobile-above {
        padding: rem(10);
      }
      @include mobile {
        padding-block: rem(5);
      }
      @include hover {
        color: var(--color-light-d2);
        text-shadow:
          0 0 1px var(--color-light-d2),
          0 0 3px var(--color-light-d2);
      }
    }
  }

  &__logo {
    display: flex;
    justify-content: center;
  }
}

