@use '../helpers' as *;

.portfolio {
  position: relative;
  padding-block: rem(50);
  margin-block: rem(50);
  user-select: none;
  @include flex-center();
  flex-direction: column;
  row-gap: rem(20);

  @include mobile-s {
    margin-block: rem(10);
  }

  &__collection {
    width: 100vw;
  }

  &__inner {
    position: relative;
    padding-bottom: 30px;
  }

  &__swiper-wrapper {
  }


  &__slide {
    object-fit: cover;
    max-width: 27vw;
    @include laptop {
      max-width: 35vw;
    }
    @include tablet {
      max-width: 40vw;
    }
    @include mobile {
      max-width: 320px;
    }

    & img {
      border-radius: 30px;
    }
  }


  &__title {
    font-size: fluid(30,64);
    letter-spacing: -0.04em;

    @include mobile-s {
      display: none;
    }
  }
}

.portfolio__inner {
  pointer-events: none;
}

.portfolio__inner .swiper-slide {
  pointer-events: auto;
}

.portfolio__inner .swiper-pagination,
.portfolio__inner .swiper-pagination-bullet {
  pointer-events: auto !important;
}