@use '../helpers' as *;

.portfolio {
  position: relative;
  margin-block: rem(100);
  user-select: none;

  @include flex-center();
  flex-direction: column;
  row-gap: rem(50);

  @include tablet {
    row-gap: rem(25);
  }
  @include mobile {
    margin-block: rem(40);
  }

  &__inner {
    position: relative;
    padding-bottom: 30px;
  }

  &__swiper-wrapper {
  }


  &__slide {
    max-width: 40vw;

    & img {
      border-radius: 30px;
    }

    @include mobile {
      max-width: 42vw;
    }
  }


  &__title {
    font-size: fluid(30,64);
    letter-spacing: -0.04em;
  }
}

.portfolio__inner {
  pointer-events: none;
}

.portfolio__inner .swiper-slide {
  pointer-events: auto;
}

.portfolio__inner .swiper-pagination,
.portfolio__inner .swiper-pagination-bullet {
  pointer-events: auto !important;
}