@use '../helpers' as *;

.projects {
  display: grid;
  row-gap: rem(40);
  margin-block: rem(53);

  font-size: fluid(18,32);
  letter-spacing: -0.04em;

  &__inner {
    position: relative;
    padding-bottom: 30px;
    width: 100vw;
  }

  &__slide {
    max-width: rem(1215);
    width: 84vw;
  }

  &__title {
    padding-inline: var(--container-padding-x);
    font-size: fluid(30,64);
    font-weight: 500;
  }

  &__description {
    display: grid;
    row-gap: rem(17);
  }

  &__link {
    margin-top: rem(20);
  }
}