@use '../helpers' as *;

.services {
  &__inner {
    padding-block: rem(30);
    @include flex-center();
    flex-direction: column;
    row-gap: rem(10);
    @include mobile {
      row-gap: rem(17);
    }
  }

  &__header {
    display: grid;
    row-gap: rem(5);
    text-align: center;
  }

  &__title {
    font-size: fluid(36,64);
  }
  &__subtitle {
    font-size: rem(32);
    opacity: 30%;
    letter-spacing: -0.04em;

    @include laptop {
      display: none;
    }
  }

  &__footer {
    max-width: 100%;
    margin-inline: auto;
  }

  &__all {
    display: inline-flex;
    align-items: center;
    column-gap: rem(10);
    padding: rem(10) rem(20);
    font-size: fluid(20,32);
    color: rgba(209, 233, 254, 0.3);
    transition-duration: var(--transition-duration);

    @include hover(){
      color: rgba(209, 233, 254);
    }
    @include mobile {
      column-gap: rem(4);
    }

    &::after {
      content: '';
      flex-shrink: 0;
      @include flex-center();
      width: 20px;
      height: 24px;
      background-position: center center;
      background-image: url("../icons/arrow-2.svg");
      background-repeat: no-repeat;

      @include mobile {
        height: 18px;
      }
    }
  }
}


