@use '../helpers' as *;

.services {
  & .service__body {
    @include laptop-above {
      padding-bottom: rem(25);
    }
  }
  &__body {
    @include laptop {
      width: 70%;
    }
    @include mobile {
      width: 95%;
    }
    min-width: rem(320);

    @include laptop-above {
      width: 100%;
    }
  }
  &__list {
    display: grid;
    column-gap: rem(20);
    @include laptop-above {
      grid-template-columns: repeat(3,1fr);
      column-gap: rem(12);
    }
    @include laptop {
      row-gap: rem(20);
    }
  }
  &__item {
    backdrop-filter: blur(10px);
    position: relative;
    border-radius: 40px;
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      padding: 1px;
      border-radius: inherit;
      filter: blur(5px);
      background: linear-gradient(
          135deg,
          transparent 0%,
          #ffffff 25%,
          #D1E9FE 40%,
          transparent 100%
      );
      pointer-events: none;
      -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;

      mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      mask-composite: exclude;
    }
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
      background-color: rgba(209, 233, 254, 0.02);
      backdrop-filter: blur(100px);
      -webkit-backdrop-filter: blur(100px);
      border-radius: inherit;
    }
   }
}


.service {
  --gap: 10px;
  display: flex;
  flex-direction: column;
  row-gap: rem(20);
  padding: rem(30) rem(40);
  height: 100%;
  letter-spacing: -0.04em;

  @include tablet {
    padding: rem(30);
  }

  &__header {
    display: grid;
    row-gap: var(--gap);
    font-weight: 100;

    &:has(.popular){
      grid-template-rows: repeat(2, auto);
      grid-template-columns: auto 1fr;
      column-gap: var(--gap);
    }
  }
  &__title {
    font-size: rem(40);
    font-weight: 600;

    &:has(+ .popular) {
      @include laptop {
        grid-column: 1 / -1;
      }
    }
  }
  &__subtitle {
    font-size: rem(16);
  }
  &__body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    row-gap: var(--gap);
    font-weight: 100;
    font-size: rem(20);
  }
  &__price {
    font-size: rem(40);
    font-weight: 600;
    @include laptop-above {
      font-size: rem(36);
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: var(--gap);

    & li {
      position: relative;
      padding-left: rem(15);

      &::before {
        content: '';
        position: absolute;
        top: rem(12);
        left: 0;
        background-color: var(--color-light-d1);
        border-radius: 50%;
        @include square(5px);
        filter: drop-shadow(0 0 3px var(--color-light-d1));
      }
    }
  }
  &__button {
    @include flex-center();
    color: #D1E9FE4D;
    white-space: nowrap;
    width: rem(115);
    height: rem(45);
    padding: rem(10) rem(20);
    background-color: #505B61;
    transition-duration: var(--transition-duration);
    border-radius: 200px;
    box-shadow: inset 0 0 1px 1px
    rgba(255, 255, 255, 0.15);

    align-self: center;
    margin-top: auto;

    @include hover(){
      color: #D1E9FE99;
      box-shadow:
        inset 0 0 1px 1px rgba(255, 255, 255, 0.15),
        0 0 10px rgba(255, 255, 255, 0.5);
      border: 1px solid #D1E9FE5D;
    }
  }
}

.popular {
  align-self: center;
  @include flex-center();
  font-weight: 300;
  color: #D1E9FE4D;
  font-size: rem(12);
  color: var(--color-bg-main);
  white-space: nowrap;
  width: rem(77);
  height: rem(21);
  padding: rem(3) rem(5);
  border-radius: 40px;
  background-color: var(--color-light-d1);
  box-shadow: 0 0 3px 1px rgba(209, 233, 254, 0.5);

  @include laptop {
    order: 3;
  }
}