@use '../helpers' as *;

.swiper {
}

.swiper-wrapper {
 min-width: 100vw;
}

.swiper-slide-active {
  .content img {
    filter: brightness(1) !important;
  }
}

.swiper-pagination {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  @include flex-center();
  z-index: 10;
}

.swiper-pagination-bullet {
  @include square(9px);
  background: var(--color-light-d1);
  margin: 0 6px;
  transition: all var(--transition-duration) ease;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid transparent;

  @include hover {
    opacity: 1;
    transform: scale(1.1);
  }
}

.swiper-pagination-bullet-active {
  background: var(--color-light-d1) !important;
  opacity: 1;
  transform: scale(1.1);
  box-shadow: 0 0 10px var(--color-light-d1);
  border: 1px solid var(--color-light-d1);
}

