@use 'helpers' as *;

body {
  @include fluid-text(16, 20);
  display: flex;
  flex-direction: column;

  font-family: var(--font-family-base);
  color: var(--color-light-d1);
  background-color: var(--color-bg-main);

  padding-top: var(--padding-header-top);

  @include tablet-above {

    background-image: url(../images/bg-main.svg);
    background-size: 100% auto;
    background-position: 0 0;
    background-repeat: no-repeat;

    &:has(.projects) {
      background-image: none;
    }
  }
}

main {
  flex-grow: 1;
  overflow: hidden;
  user-select: none;

  & section:not(:last-child){
    @include tablet-above {
      margin-bottom: rem(100);
    }
  }
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
  &[class] {
    text-decoration: none;
  }
}