@use 'helpers' as *;

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.body {
@include tablet {
  height: 100dvh;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }

  & main {
    overflow-y: hidden;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    transition-duration: var(--transition-duration);

   @include tablet {
     margin-top: calc((var(--header-height) + var(--padding-header-top)) * -1);
   }

    & > section {
      height: 100dvh;

      @include tablet-above {
        min-height: calc(100vh - var(--header-height) - var(--padding-header-top));
      }
    }

    & > section,
    & > footer {
      scroll-snap-stop: always;
      scroll-snap-align: start;
    }
  }
}
  & main {
    & > section:last-of-type {
      @include tablet {
        height: calc(100vh - var(--header-height) - var(--padding-header-top) - var(--footer-height));
      }
    }

    & > section:first-of-type {
      @include tablet {
        padding-top: calc(var(--header-height) + var(--padding-header-top) + 8vh);
      }
    }
  }

}